.dashboard__main div,
.dashboard__main li {
  color: var(--colorGris);
}
.dashboard__main--card {
  background: linear-gradient(to top, var(--colorVioleta), black);
}
.dashboard__main__card--custom-text {
  text-shadow: 0px 0px 2px #fff;
}
.form-floating {
  --bs-body-bg: #ced4da;
  --bs-body-color-rgb: rgb(0, 0, 0);
}

.navbar-custom {
  background: linear-gradient(to right, rgb(26, 1, 39), #f217fd);
}

.navbar-custom ul li a {
  color: rgb(254, 254, 254);
}

.card-header-custom {
  background: linear-gradient(to right, rgb(65, 2, 50), #e73eea);
  color: white;
}

.card-banner-custom {
  background: linear-gradient(to right, rgb(65, 2, 50), #280c28);
  color: var(--colorGris);
  box-shadow: 1px 1px 10px rgb(114, 114, 114);
}

.card-banner-custom:hover {
  transition: 500ms;
  background: linear-gradient(to right, rgb(65, 2, 50), #280c28);
  color: #fff;
  box-shadow: 1px 1px 15px rgb(151, 151, 151);
  transform: scale(1.04);
}

.card-banner-custom .img-box {
  padding: 3px;
  background: #0000008c;
  border-radius: 5px;
}