<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head',{
  title:"Carrito"
}) %>
<body>
    <%- include('./partials/header') %>

    <main class="main_productos">
      <section class="productCart_section" id="cart-box">
      
             
      </section>
      <form action="/comprar-producto" method="post" style="display: none;" class="productCart_form" id="form-cart">
        <div class="productCart_form_div">
          <p class="productCart_text">Subtotal(sin envio): $<span id="cart-subtotal"></span></p>
        </div>
        <div class="productCart_Envio">
          <img
            src="/images/gokuenvio-removebg-preview.png"
            alt="goku"
            class="goku_envio"
          />
          <p class="productCart_text">Medios de envio</p>
        </div>
        <div class="productCart_form_div">
          <label class="productCart_text">Tu Codigo Postal:</label>
        </div>
        <div class="productCart_form_div">
          <p class="productCart_text">Retirar por el local: <span id="cart-cost-send">0</span></p>
        </div>
        <div class="productCart_form_div">
          <p class="productCart_text">Direccion del local: Av.Mitre 2020</p>
        </div>
        <div class="total">
          <p class="productCart_text">Total: $<span id="cart-total"></span></p>
          <p class="productCart_text">O hasta 3 cuotas sin interes</p>
        </div>

        <div class="productCart_div">
          <button type="button" onclick="sendCart()" class="productCart_button">
            Finalizar Compra
          </button>
        </div>
      </form>
    </main>
        <%- include('./partials/footer') %>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

  </body>
</html>
