<header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary navbar-custom">
        <div class="container-fluid">
          <a class="navbar-brand" style="color: white;" href="/">Ar3Dex</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse navbar-custom" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/admin">Inicio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="#" data-bs-toggle="modal" data-bs-target="#exampleModal">Cambiar banner</a>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" aria-disabled="true"></a>
              </li>
            </ul>
            <form class="d-flex" action="/admin/productos/buscar" method="GET">
              <input class="form-control me-2" type="search" placeholder="Buscar producto.." name="keyword">
              <button class="btn btn-outline-light" type="submit"><i class="fa fa-search"></i></button>
            </form>
          </div>
        </div>
      </nav>
</header>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        <div class="input-group mb-3">
          <div class="form-floating">
            <input type="text" class="form-control" id="floatingInputGroup1" placeholder="Username">
            <label for="floatingInputGroup1">Nombre</label>
          </div>
          <span class="input-group-text">
            <i class="fa-solid fa-circle-info fa-xl" 
              tabindex="0" 
              data-bs-toggle="popover" 
              data-bs-trigger="hover focus" 
              data-bs-content="Meramente estético. Aparecerá al posar el mouse sobre el banner y en el caso de que al usuario no se le cargue la imagen"></i>
          </span>
        </div>
        <div class="input-group mb-3">
          <div class="form-floating">
            <input type="text" class="form-control" id="floatingInputGroup1" placeholder="Username">
            <label for="floatingInputGroup1">Link</label>
          </div>
          <span class="input-group-text">
            <i class="fa-solid fa-circle-info fa-xl" 
              tabindex="0" 
              data-bs-toggle="popover" 
              data-bs-trigger="hover focus" 
              data-bs-content="¿A dónde querés que te lleve el banner al hacerle click?. Puedes dejarlo vacio y no hará nada"></i>
          </span>
        </div>
        <input type="file" id="bannerImage" hidden>
        <label for="bannerImage" type="button" class="btn btn-dark">Cambiar</label>
      </div>
      <div class="modal-footer text-end">
        <label for="" type="submit" class="btn btn-dark">Listo</label>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
