<header class="header">
  <section>
    <div class="header_main">
      <a href="/"><img src="/images/Logo.png" alt="logo" class="logo" /></a>

      <button id="toggle-menu" class="hamburguer"><i class="fa fa-bars"></i></button>
        
      <% if (locals.userLogin) { %>
        <% if (userLogin.role === 2) { %>
        </a>
        <span class="iconos">
          <a href="/admin" class="carrito"><i class="fa-solid fa-computer"></i></i></a>
          
          <% }%>
          <% }%>
      </a>
      <span class="iconos">
        <a href="/carrito" class="carrito px-2"><i class="fa-solid fa-cart-plus"></i></a>

      
      </span>
    </div>
  </section>

  <div id="menu"  class="barra">
    <nav  class="nav_bar">
      <ul>
        <div class="div_ul">
          <li><a class="li_header" href="/">Inicio</a></li>
        </div>
        <div class="div_ul">
          <li><a class="li_header" href="/productos/coleccion">Colección</a></li>
        </div>


        <% if (locals.userLogin) { %>

          <div class="div_ul">
            <li><a class="li_header" href="/usuarios/perfil/<%= userLogin.id %>">Usuario</a></li>
          </div>
        <div class="div_ul">
          <li><a class="li_header" href="/usuarios/salir">Salir</a></li>
        </div>

        <% }else{ %>
        <div class="div_ul">
          <li><a class="li_header" href="/usuarios/ingreso">Ingreso</a></li>
        </div>
        <div class="div_ul">
          <li><a class="li_header" href="/usuarios/registro">Registro</a></li>
        </div>
      <% } %>


      </ul>
    </nav>
    <form class="search-bar" action="/productos/buscar" method="GET">
      <input
        class="search-bar-input"
        type="search"
        placeholder="Buscar productos..."
        name="keyword"
      />
      <button type="submit" id="lupita">
        <i class="fa-solid fa-magnifying-glass"  style="color: #969696"></i>
      </button>
    </form>
  </div>
</header>
<script>
  
  const toggleMenuButton = document.querySelector('#toggle-menu');
  const menu = document.querySelector('#menu');

  toggleMenuButton.addEventListener('click', () => {
  menu.classList.toggle('open');
  
});



</script>