<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body">
          <div class="header-admin--img-container">
            <img id="img-banner-preview">
          </div>
          <div class="input-group mb-3">
            <div class="form-floating">
              <input type="text" class="form-control" id="name" placeholder="Username">
              <label for="name">Nombre</label>
            </div>
            <span class="input-group-text">
              <i class="fa-solid fa-circle-info fa-xl" 
                tabindex="0" 
                data-bs-toggle="popover" 
                data-bs-trigger="hover focus" 
                data-bs-content="Meramente estético. Aparecerá al posar el mouse sobre el banner y en el caso de que al usuario no se le cargue la imagen"></i>
            </span>
          </div>
          <div class="input-group mb-3">
            <div class="form-floating">
              <input type="text" class="form-control" id="link" placeholder="Username">
              <label for="link">Link</label>
            </div>
            <span class="input-group-text">
              <i class="fa-solid fa-circle-info fa-xl" 
                tabindex="0" 
                data-bs-toggle="popover" 
                data-bs-trigger="hover focus" 
                data-bs-content="¿A dónde querés que te lleve el banner al hacerle click?. Puedes dejarlo vacio y no hará nada"></i>
            </span>
          </div>
          <input type="file" id="bannerImage" hidden onchange="previewImage(event,'img-banner-preview')" >
          <label for="bannerImage" type="button" class="btn btn-dark">Agregar imagen</label>
        </div>
        <div class="modal-footer text-end">
          <label for="" type="submit" id="submit-add-banner" class="btn btn-dark">Listo</label>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
  