<div
  class="modal fade"
  id="modal-banner-delete"
  tabindex="-1"
  aria-labelledby="modal-banner-delete"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <div>
          <h6>¿Desea eliminar el Item-banner: <span id="item-banner-deleted" class="text-danger"></span>?</h6>
        </div>
      </div>
      <div class="modal-footer text-end">
        <label
          for=""
          type="submit"
          id="submit-delete-banner"
          data-bs-dismiss="modal"
          class="btn btn-dark">Listo</label>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Cerrar
        </button>
      </div>
    </div>
  </div>
</div>
